{% extends "dashboard/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="space-y-8">
    <!-- Stats Grid -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <!-- Total Events -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition cursor-pointer">
            <h2 class="text-lg font-semibold text-gray-600">Total Events</h2>
            <p class="text-3xl font-bold text-blue-600">{{ total_events }}</p>
        </div>
        <!-- Upcoming Events -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition cursor-pointer">
            <h2 class="text-lg font-semibold text-gray-600">Upcoming Events</h2>
            <p class="text-3xl font-bold text-green-600">{{ upcoming_events }}</p>
        </div>
        <!-- Past Events -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition cursor-pointer" >
            <h2 class="text-lg font-semibold text-gray-600">Past Events</h2>
            <p class="text-3xl font-bold text-red-600">{{ past_events }}</p>
        </div>
        <!-- Total Participants -->
        <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
            <h2 class="text-lg font-semibold text-gray-600">Participants</h2>
            <p class="text-3xl font-bold text-yellow-600">{{ total_participants }}</p>
        </div>
    </div>

</div>

{% endblock %}
